.git
.gitignore
.dockerignore
.env
**/.env
**/.venv*
**/node_modules
**/dist
**/__pycache__
**/.pytest_cache
**/.ruff_cache
backend/*.db
backend/*.log
terraform.tfvars
*.tfstate
*.tfstate.*
*.tfplan
secret.json
Deployment_docs
monitoring
terraform
k8s
testcases
